# Fichiers de compilation
*.o
*.a
*.out
*.log

# Fichiers de configuration CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
clion/
cmake/

# Fichiers de compilation
*.o
*.a
*.out
*.log

# Fichiers de configuration CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
clion/
cmake/